{% extends "layouts/layout.html" %}

{% block header %}
<div class="bg-gray-light border-gray-light">
  <style>
    main {
      float: left;
      width: 40%;
      height: 300px; 
      background: rgb(200, 231, 229);
      padding: 50px;
    }

    header {
      background-color: rgba(245, 245, 245, 0.979);
      padding: 30px;
      text-align: center;
      font-size: 35px;
    }

    dpool {
      float: right;
      width: 60%;
      height: 300px; 
      /* background: rgb(55, 107, 185); */
      padding: 20px;
    }
    </style>
    
  <div>
    <header>
      <h2 class="h2 mb-0">Your current horizon</h2>
    </header>
    
    <main>
      <h1>{{dropstring}}</h1>
    </main>

    <dpool>
      {% for related_drop in related %}
      <a class="btn btn-secondary btn-lg mb-3" href="{{'/dive/' ~ related_drop['_id']}}"}>{{related_drop['content']}}</a><br>
      {% endfor %}
    </dpool>
    <a class="btn btn-primary mt-2" href= "/dive">
      I'm getting seasick, take me to a different spot
    </a>

  </div>
</div>

{% endblock %}

  