{% extends "layouts/layout.html" %}

{% block header %}
<div class="bg-gray-light border-gray-light">
  <style>
    main {
      float: left;
      width: 40%;
      height: 300px; 
      background: rgb(200, 231, 229);
      padding: 50px;
    }

    header {
      background-color: rgba(245, 245, 245, 0.979);
      padding: 30px;
      text-align: center;
      font-size: 35px;
    }

    dpool {
      float: right;
      width: 60%;
      height: 300px; 
      /* background: rgb(55, 107, 185); */
      padding: 20px;
    }
    </style>
    
  <div>
    <header>
      <h2 class="h2 mb-0">See the Sea</h2>
    </header>
    
    <main>
      <h1>{{dropstring}}</h1>
    </main>

    <dpool>
      <h4>this is a not quite long testing string. This is a second sentence. </h4>
      <h4>this is a not quite long testing string. This is a second sentence. </h4>
      <h4>this is a not quite long testing string. This is a second sentence. </h4>
      <h4>this is a not quite long testing string. This is a second sentence. </h4>
      <h4>this is a not quite long testing string. This is a second sentence. </h4>
      <h4>this is a not quite long testing string. This is a second sentence. </h4>
    </dpool>

  </div>
</div>

{% endblock %}

  