{% extends "layouts/layout.html" %}

{% block header %}
<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">See the Sea</h1>
    </div>
  </div>
</div>

<div id =  "droplet >
  <h1> This is a droplet etc etc </h1>
</div>
<div id =  "main" >
  <h6 class="w3-hover-black">some other stuff</h6>
  <h6 class="w3-hover-black">some other stuff</h6>
  <h6 class="w3-hover-black">some other stuff</h6>
  <h6 class="w3-hover-black">some other stuff</h6>
  <h6 class="w3-hover-black">some other stuff</h6>
  <h6 class="w3-hover-black"> some other stuff</h6>
</div>
{% endblock %}

  