{% extends "layouts/layout.html" %}

{% block header %}
<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="https://static.thenounproject.com/png/249800-200.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Sea of Knowledege</h1>
      <h3 class="h4 text-gray font-weight-light">a new way to get your feet wet</h3>
    </div>
    <a class="btn btn-primary mt-2" href= "/add_drop">
      Add a Droplet
    </a>
    <a class="btn btn-primary mt-2" href= "/dive">
      Enter the Sea
    </a>
    <a class="btn btn-primary mt-2" href= "/stream">
      Shape the Tide
    </a>
  </div>
</div>
{% endblock %}
